.main_content {
    display: flex;
}


/* #map {  top: 0; bottom: 0; width: 100%; } */

.main_section_1 {
    width: 90%;
    height: 100vh;
    background-color: rgb(1, 0, 27);
    /* background-image: url('../images/kal-visuals-IG1m3RomhPI-unsplash.jpg'); */
    /* object-fit: cover; */
    background-repeat: no-repeat;
    padding: 0.3rem 1rem;
}

.main_section_map z {
    /* width:20%; */
    /* position:fixed; */
    /* margin-top: 1rem; */
}
.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}

.bg-black-c {
    background-color: rgb(53, 78, 131);
}
#menu {
    /* position: absolute; */
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 3rem;
    }